@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html , body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    position:sticky;
    top: 0;
    background-color:rgb(255, 255, 255);
    height:66px
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.rightbox{
    display:flex;
    margin-left: 36px;
    margin-right: 12px
}
@media (max-width: 550px){
        header{
                height: 122px;

        }
        nav{
            flex-direction: column;
            align-items: center;
        }
        .right{
                flex-direction:column
        }
        .rightbox{
            display:flex;
            margin-left: 36px;
            margin-right: 12px
        }
    }
  .left img{
    width:32px;
    height:23px;
}

.container{
    padding: 0 10vw;
}
nav{

    font-size: 12px;
}

    
nav ul li{
    list-style: none;
    padding: 0 12px;
}
.section1{
    background-color: rgb(228, 229, 231);
    height: 500vh;
}
.search{
    width:34vw;
    padding:7px 17px;
    border:0.5px color(rgb(241, 241, 245))
    background: #f7f8fd
    border-radius: 5px;
}
.homeMyn{
    width: 80vw;
    margin:12px 0;
}
.hue{
    width:89vw;
    margin:12px 0;
}
.toppick{
    width:89vw;
    margin:12px 0;
}
.brand{
    width: 87vw;
    margin:12px 0;
}
.bestbuys{
    width: 87vw;
    margin:12px 0;
}
.gifting{
    width: 87vw;
    margin:12px 0;
}
.bhag{
    width: 87vw;
    margin:12px 0;
}
.her{
    width: 87vw;
    margin:12px 0;
}
.him{
    width: 87vw;
    margin:12px 0;
}